/* Fuentes */
@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* Estilos */
* {
	font-family: "SF Pro Display", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
	scrollbar-width: none;
}
body {
	width: 1440px;
	background-color: #ffffff;
}
.padding-general {
	padding-inline: 100px;
}
.header {
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nostyle {
	text-decoration: none;
}
.div-logo {
	height: 24px;
	display: flex;
}
.logo {
	display: flex;
	align-items: center;
	gap: 4px;
}
.h1-logo {
	display: flex;
	align-items: center;
	height: 21px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.36px;
	color: #1b1f2d;
}
.div-header-global {
	width: 200px;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 19px;
}
.header-nav-ul {
	display: flex;
	justify-content: space-between;
	gap: 48px;
	height: 100%;
	width: 458px;
}
.header-li {
	display: flex;
	align-items: center;
}
.header-a {
	display: flex;
	align-items: center;
	height: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.32px;
	color: #333333;
}
.header-botones {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}
.header-botones-compartido {
	border-radius: 6px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	cursor: pointer;
}
.header-botonFondoBlanco {
	border: 1px solid rgb(47, 128, 237);
	width: 92px;
	color: #2f80ed;
	background-color: #ffffff;
	transition: background-color 0.2s ease;
}
.header-botonFondoBlanco:hover {
	background-color: rgba(0, 0, 0, 0.08);
	transition: background-color 0.2s ease;
}
.header-botonFondoAzul {
	border: none;
	width: 82px;
	color: #ffffff;
	background-color: rgb(47, 128, 237);
	transition: background-color 0.2s ease;
}
.header-botonFondoAzul:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.header-iconos {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 22px;
}
.header-icono-noti {
	width: 24px;
	height: 24px;
}
.header-resultados .header-icono-noti path {
	fill: white;
}
.header-resultados .header-icono-noti circle {
	stroke: #2867bc;
}
.header-icono-perfil {
	width: 44px;
	height: 44px;
	cursor: pointer;
}
.header-summary {
	list-style: none;
	display: flex;
	align-items: center;
}
.header-div-desplegable {
	position: relative;
}
.header-desplegable {
	display: block;
	background-color: #ffffff;
	border-radius: 10px;
	width: 200px;
	height: 183px;
	padding-block: 10px;
	position: absolute;
	right: 0;
	top: 55px;
	box-shadow: 0px 4px 44px 0px #00000026;
}
.header-desplegable-li {
	width: 100%;
	height: 40px;
	padding: 10px 14px;
	display: flex;
	align-items: center;
	gap: 10px;
	box-shadow: 0px 0.5px 0px 0px #d6d6d6;
}
.header-desplegable-li:not(:last-child) {
	border-bottom: 0.5px solid #d6d6d6;
}
.header-desplegable-a {
	display: flex;
	align-items: center;
	gap: 10px;
	height: 100%;
}
.desplegable-img {
	width: 20px;
	height: 20px;
}
.desplegable-span {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #4f4f4f;
}
.main-index {
	padding-block: 24px 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}
.main-index img {
	width: 100%;
	height: 400px;
	object-fit: cover;
	object-position: top;
}
.main-index section {
	border-radius: 6px;
	border: 1px solid #2f80ed;
	padding: 8px;
	box-shadow: 4px 4px 4px 0px #2f80ed26;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.main-index section::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #2f80ed;
	border-radius: 6px;
	opacity: 0.2;
	top: 0;
	left: 0;
	display: none;
	transition: all 0.2s ease;
}
.main-index section:hover::before {
	display: block;
	transition: all 0.2s ease;
}
.main-index section:hover {
	box-shadow: none;
	border-color: #2f80ed;
}
.main-index figcaption {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #333333;
}
.main-index section:hover figcaption {
	color: #2f80ed;
}
.index {
	padding-block: 12px 80px;
}
.sect-welcome-card {
	position: fixed;
	height: 100vh;
	width: 1440px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(30, 30, 30, 0.6);
	z-index: 10;
}
.welcome-card {
	z-index: 0;
	height: 500px;
	width: 400px;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 50px 24px 28px 24px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
.img-welcome-card {
	width: 240px;
	height: 200px;
}
.h2-welcome-card {
	margin-top: 45px;
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #181818;
}
.p-welcome-card {
	margin-top: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.32px;
	color: #4f4f4f;
	white-space: nowrap;
}
.button-welcome-card {
	margin-top: 45px;
	width: 352px;
	height: 44px;
	border-radius: 6px;
	padding: 12px 18px;
	background-color: #2f80ed;
	border: none;
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	transition: background-color 0.2s ease;
}
.button-welcome-card:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.div-enjoy {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-enjoy {
	border-radius: 10px;
}
.div-text-enjoy {
	position: absolute;
	text-align: center;
}
.h2-text-enjoy {
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #ffffff;
	height: 38px;
	display: flex;
	justify-content: center;
}
.p-text-enjoy {
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 0.4px;
	color: #ffffff;
	margin-top: 14px;
}
.div-search {
	display: flex;
	justify-content: center;
	margin-top: -32px;
}
.form-search {
	width: 1030px;
	height: 64px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 4px 37px 0px #00000026;
	padding: 10px 12px;
	display: flex;
	gap: 12px;
}
.div-input-where {
	width: 260px;
	height: 43px;
	display: flex;
	gap: 10px;
	border-radius: 4px;
	padding: 11px 12px;
	background-color: #f2f2f2;
	border: none;
	align-items: center;
	color: #4f4f4f;
}
.input-where {
	width: 100%;
	border: none;
	background-color: #f2f2f2;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
	height: 20px;
	display: flex;
	align-items: center;
}
.input-where:focus {
	outline: none;
}
.svg-div-input {
	min-width: 20px;
	min-height: 20px;
}
.div-input-where:has(.input-where:not(:placeholder-shown)) .svg-div-input path {
	stroke: #2f80ed;
}
.div-input-checkinout {
	width: 170px;
	height: 43px;
	display: flex;
	gap: 10px;
	border-radius: 4px;
	padding: 11px 12px;
	background-color: #f2f2f2;
	border: none;
	align-items: center;
	color: #4f4f4f;
}
.input-checkinout {
	width: 100%;
	border: none;
	background-color: #f2f2f2;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
	height: 20px;
	display: flex;
	align-items: center;
}
.input-checkinout:focus {
	outline: none;
}
.div-input-checkinout:has(.input-checkinout:not(:placeholder-shown))
	.svg-div-input
	path {
	stroke: #2f80ed;
}
.div-input-guests {
	width: 210px;
	height: 43px;
	display: flex;
	gap: 10px;
	border-radius: 4px;
	padding: 11px 12px;
	background-color: #f2f2f2;
	border: none;
	align-items: center;
	color: #4f4f4f;
}

.input-guests {
	width: 100%;
	border: none;
	background-color: #f2f2f2;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
	height: 20px;
	display: flex;
	align-items: center;
}
.input-guests:focus {
	outline: none;
}
.div-input-guests:has(.input-guests:not(:placeholder-shown))
	.svg-div-input
	path {
	stroke: #2f80ed;
}
.button-search {
	width: 148px;
	border-radius: 6px;
	padding-top: 12px;
	padding-right: 18px;
	padding-bottom: 12px;
	padding-left: 18px;
	display: flex;
	gap: 10px;
	justify-content: center;
	background-color: #2f80ed;
	border: none;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.button-search:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none; /* Chrome, Safari, Edge */
	margin: 0;
}
.div-warning {
	margin-top: 50px;
	background-color: #fcefca;
	border-radius: 8px;
	padding: 20px 24px;
	display: flex;
	align-items: center;
	gap: 19px;
	width: 100%;
}
.warning-icono {
	width: 32px;
	height: 32px;
}
.warning-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.32px;
	color: #333333;
}
.warning-a {
	color: #2f80ed;
	transition: color 0.2s ease;
}
.warning-a:hover {
	color: rgba(47, 128, 237, 0.8);
	transition: color 0.2s ease;
}
.sect-enjoy {
	margin-top: 50px;
}
.h2-index {
	font-weight: 600;
	font-size: 28px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #181818;
	height: 32px;
	display: flex;
	align-items: center;
}
.sect-enjoy-p {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.32px;
	color: #333333;
	margin-top: 16px;
	height: 44px;
}
.div-sect-enjoy {
	margin-top: 30px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}
.img-sect-enjoy {
	border-radius: 8px;
	width: 295px;
	height: 220px;
}
.div-text-sect-enjoy {
	margin-top: 10px;
}
.h3-div-text-sect-enjoy {
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #181818;
	height: 24px;
	display: flex;
	align-items: center;
}
.p-div-text-sect-enjoy {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #181818;
	margin-top: 6px;
	height: 17px;
	display: flex;
	align-items: center;
}
.sect-nextrip {
	margin-top: 60px;
}
.div-sect-nextrip {
	margin-top: 24px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
}
.card-div-sect-nextrip {
	position: relative;
	display: flex;
	align-items: flex-end;
	width: 400px;
	height: 280px;
}
.img-card-div-sect-nextrip {
	border-radius: 8px;
}
.div-text-sect-nextrip {
	position: absolute;
	padding: 20px;
}
.h3-div-text-sect-nextrip {
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #ffffff;
}
.p-div-text-sect-nextrip {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.32px;
	color: #ffffff;
	margin-top: 10px;
}
.sect-popular {
	margin-top: 60px;
}
.div-sect-popular {
	margin-top: 24px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}
.div-text-sect-popular {
	margin-top: 10px;
}
.img-sect-popular {
	border-radius: 8px;
}
.h3-div-text-sect-popular {
	font-weight: 600;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #181818;
	height: 24px;
	display: flex;
	align-items: center;
}
.p-div-text-sect-popular {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #181818;
	margin-top: 6px;
	height: 17px;
	display: flex;
	align-items: center;
}
.sect-download {
	margin-top: 60px;
	display: flex;
	position: relative;
	align-items: center;
}
.div-sect-download {
	position: absolute;
	padding: 64px 69px;
}
.img-sect-download {
	border-radius: 8px;
}
.h2-sect-download {
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	letter-spacing: 0px;
	color: #ffffff;
}
.button-sect-download {
	width: 182px;
	height: 44px;
	border-radius: 6px;
	padding: 12px 18px;
	border: none;
	background-color: rgb(47, 128, 237);
	display: inline-block;
	margin-top: 30px;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.button-sect-download:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.sect-explore {
	margin-top: 80px;
	text-align: center;
}
.h2-sect-explore {
	font-weight: 600;
	font-size: 28px;
	line-height: 140%;
	letter-spacing: 0px;
	color: #181818;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.a-sect-explore {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.32px;
	color: #2f80ed;
	transition: color 0.2s ease;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
	height: 22px;
}
.a-sect-explore:hover {
	color: rgba(47, 128, 237, 0.8);
	transition: color 0.2s ease;
}
.div-footer-logo {
	width: 225px;
}
.footer-p-logo {
	margin-top: 6px;
	margin-left: 28px;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
}
.footer-index2 {
	display: flex;
}
.footer-h4-tit {
	height: 19px;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.32px;
	white-space: nowrap;
}
.footer-ul {
	list-style: none;
	margin-top: 20px;
}
.footer-ul li {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
	height: 17px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.footer-ul a {
	color: #2f80ed;
	transition: color 0.2s ease;
}
.footer-ul a:hover {
	color: rgba(47, 128, 237, 0.8);
	transition: color 0.2s ease;
}
.footer-ul li:not(:first-child) {
	margin-top: 10px;
}
.footer-index2 div:nth-child(2) {
	margin-left: 90px;
	width: 69px;
}
.footer-index2 div:nth-child(3) {
	margin-left: 173px;
	width: 177px;
}
.footer-index2 div:nth-child(4) {
	margin-left: 65px;
	width: 133px;
}
.footer-index2 div:nth-child(5) {
	margin-left: 109px;
}
.footer-barragris {
	margin-top: 60px;
	background-color: #ebebeb;
	padding: 10px 205px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.div-footer-copy {
	display: flex;
	align-items: center;
	gap: 6px;
}
.footer-iconcopy {
	width: 16px;
	height: 16px;
}
.footer-p-copy {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0px;
	color: #4f4f4f;
}
/* -------------------- Páginas Formularios -------------------- */
.body-signin {
	height: 970px;
}
.main-signin {
	width: 400px;
	margin: 0 auto;
}
.section-main-signin {
	margin-top: 92px;
	height: 583px;
	display: flex;
	flex-direction: column;
}
.tit-signin {
	font-weight: 600;
	font-size: 28px;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
}
.form-signin {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.form-label {
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	cursor: pointer;
}
.form-signin label:nth-of-type(2) {
	margin-top: 20px;
}
.form-text {
	background-color: #f2f2f2;
	border: none;
	border-radius: 4px;
	margin-top: 4px;
	padding: 11px 12px 12px 12px;
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.3px;
}
.div-form-forgot {
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.form-forgot1 {
	width: 50%;
	display: flex;
	align-items: center;
}
.form-forgot2 {
	display: flex;
	justify-content: end;
	width: 50%;
}
.form-checkbox {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #bdbdbd;
	cursor: pointer;
	flex-shrink: 0;
}
.form-checkbox:checked {
	background-color: #2f80ed;
	border: none;
}
.label-keepme {
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
	margin-left: 8px;
	cursor: pointer;
}
.a-forgotpass {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	text-decoration: none;
	color: #2f80ed;
	transition: color 0.2s ease;
}
.a-forgotpass:hover {
	color: rgba(47, 128, 237, 0.8);
	transition: color 0.2s ease;
}
.form-button {
	margin-top: 20px;
	border-radius: 6px;
	padding: 12px 18px;
	border: none;
	background-color: #2f80ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.form-button:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.div-or-options {
	display: flex;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
	margin-top: 24px;
	height: 24px;
}
.p-or-options {
	white-space: nowrap;
	color: #4f4f4f;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.28px;
}
.hr-or-options {
	width: 100%;
	border: 1px solid #e0e0e0;
}
.buttons-continue {
	height: 44px;
	border-radius: 6px;
	padding: 12px 18px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	cursor: pointer;
}
.button-continue-google {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	margin-top: 24px;
	color: #4f4f4f;
	transition: background-color 0.2s ease;
}
.button-continue-google:hover {
	background-color: #e0e0e0;
	transition: background-color 0.2s ease;
}
.button-continue-facebook {
	margin-top: 12px;
	background-color: rgb(71, 89, 147);
	border: none;
	color: #ffffff;
	transition: background-color 0.2s ease;
}
.button-continue-facebook:hover {
	background-color: rgba(71, 89, 147, 0.8);
	transition: background-color 0.2s ease;
}
.button-icons {
	width: 20px;
	height: 20px;
}
.p-register {
	margin-top: 60px;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.32px;
	text-align: center;
	color: #4f4f4f;
}
.p-register a {
	color: #2f80ed;
	transition: color 0.2s ease;
}
.p-register a:hover {
	color: rgba(47, 128, 237, 0.8);
	transition: color 0.2s ease;
}
.form-button-register {
	margin-top: 30px;
	border-radius: 6px;
	padding: 12px 18px;
	border: none;
	background-color: #2f80ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.form-button-register:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.p-signin {
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.32px;
	text-align: center;
	color: #4f4f4f;
	margin-top: 12px;
}
.form-button-create {
	margin-top: 30px;
	border-radius: 6px;
	padding: 12px 18px;
	border: none;
	background-color: #2f80ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.form-button-create:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.p-terminos {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.28px;
	margin-top: 24px;
	color: #4f4f4f;
}
.p-terminos a {
	color: #2f80ed;
	transition: color 0.2s ease;
}
.p-terminos a:hover {
	color: rgba(47, 128, 237, 0.8);
	transition: color 0.2s ease;
}
.form-button-reset {
	border-radius: 6px;
	padding: 12px 18px;
	border: none;
	background-color: #2f80ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.form-button-reset:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.p-terminos-forgot {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.28px;
	margin-top: 30px;
	color: #4f4f4f;
}
.p-terminos-forgot a {
	color: #2f80ed;
	transition: color 0.2s ease;
}
.p-terminos-forgot a:hover {
	color: rgba(47, 128, 237, 0.8);
	transition: color 0.2s ease;
}
.div-imgs-inbox {
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-img-inbox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.tit-inbox {
	margin-top: 40px;
	font-weight: 600;
	font-size: 28px;
	line-height: 100%;
	letter-spacing: 0.56px;
	text-align: center;
}
.header-resultados {
	height: 200px;
	display: flex;
	flex-direction: column;
	background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
}
.div-header-resultados {
	height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-resultados {
	display: flex;
	align-items: center;
	gap: 4px;
}
.logo-resultados svg path {
	fill: #ffffff;
}
.logo-resultados h1 {
	color: white;
}
.header-li-resultados {
	display: flex;
	align-items: center;
}
.header-a-resultados {
	display: flex;
	align-items: center;
	height: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.32px;
	color: #ffffff;
}
.header-iconos-resultados {
	display: flex;
	align-items: center;
	gap: 22px;
}
.header-iconos-resultados svg path {
	fill: #ffffff;
}
.div-search-resultados {
	display: flex;
	justify-content: center;
	margin-top: -44px;
}
.div-main-resultados {
	margin-top: 70px;
	display: flex;
	gap: 30px;
}
.izq-main-resultados {
	min-width: 295px;
}
.der-main-resultados {
	min-width: 915px;
}
.h2-resultados {
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0.48px;
	color: #181818;
	height: 32px;
	display: flex;
	align-items: center;
}
.div-search-izq-resultados {
	width: 100%;
	height: 119px;
	background-color: #f2f2f2;
	border-radius: 6px;
	padding: 20px 18px;
	display: flex;
	flex-direction: column;
}
.izq-main-h4 {
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.16px;
	color: #181818;
}
.div-search-izq-resultados label {
	cursor: pointer;
}
.div-search-izq-resultados input {
	margin-top: 16px;
	height: 44px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 11px 12px 12px 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
}
.izq-main-h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.36px;
	color: #333333;
	margin: 20px 0px 0px 18px;
}
.div-budget-izq-resultados {
	margin-top: 20px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
}
.div-tit-izq {
	padding: 18px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #e0e0e0;
}
.div-info {
	padding: 18px 20px 24px 18px;
}
.div-input-label-budget {
	display: flex;
	align-items: center;
	gap: 8px;
}
.div-input-label-budget label {
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.div-input-label-budget label span {
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #333333;
}
.div-input-label-budget:not(:first-child) {
	margin-top: 14px;
}
.div-label-switch-budget {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.label-switch {
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #333333;
}
.switch-resultados {
	display: none;
}
.switch-img {
	cursor: pointer;
	height: 20px;
}
.switch-img img {
	width: 32px;
	height: 20px;
	object-fit: cover;
}
.img-on {
	display: none;
}
.switch-resultados:checked ~ .img-off {
	display: none;
}

.switch-resultados:checked ~ .img-on {
	display: block;
}

.tabla-rating {
	margin-top: 8px;
	width: 250px;
	height: 46px;
	border-collapse: separate;
	border-spacing: 0;
}
.tabla-rating tr {
	display: flex;
}
.tabla-rating td {
	padding: 14px 9px 14px 10px;
	height: 46px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tabla-rating td:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #e0e0e0;
}
.tabla-rating td:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #e0e0e0;
}
.tabla-rating td:nth-child(2),
.tabla-rating td:nth-child(3),
.tabla-rating td:nth-child(4) {
	border-block: 1px solid #e0e0e0;
}
.tabla-rating td:nth-child(3) {
	border-inline: 1px solid #e0e0e0;
}
.icono-estrella {
	width: 18px;
	height: 18px;
}
.div-tablapicks-desplegablesortby {
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tabla-picks {
	width: 615px;
	height: 40px;
	border-collapse: separate;
	border-spacing: 0;
}
.tabla-picks tr {
	display: flex;
}
.tabla-picks td {
	height: 40px;
	padding: 10px 18px;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #4f4f4f;
	cursor: pointer;
	transition: all 200ms ease;
}
.tabla-picks td:first-child {
	border: 1px solid #2f80ed;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	width: 126px;
}
.tabla-picks td:last-child {
	border: 1px solid #2f80ed;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 128px;
}
.tabla-picks td:nth-child(2) {
	width: 177px;
}
.tabla-picks td:nth-child(3) {
	width: 105px;
}
.tabla-picks td:nth-child(4) {
	width: 79px;
}
.tabla-picks td:nth-child(2),
.tabla-picks td:nth-child(3),
.tabla-picks td:nth-child(4) {
	border-block: 1px solid #2f80ed;
}
.tabla-picks td:nth-child(3) {
	border-inline: 1px solid #2f80ed;
}
.tabla-picks td:hover {
	background-color: rgba(47, 128, 237, 0.051);
	color: #2f80ed;
	transition: all 0.2s ease;
}
.desplegable-sortby {
	width: 190px;
	height: 48px;
	padding: 8px 12px;
	border: 1px solid #bdbdbd;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.p-sortby {
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.24px;
	color: #828282;
}
.p-recommended {
	margin-top: 2px;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.28px;
	color: #333333;
}
.icono-flechaabajo {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}
.div-card-result {
	display: flex;
	gap: 24px;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	margin-top: 24px;
}
.izq-div-card-result {
	padding: 20px 0px 20px 20px;
}
.a-card-result {
	display: flex;
}
.img-card-result {
	width: 285px;
	height: 200px;
}
.der-div-card-result {
	padding: 24px 24px 24px 0px;
	width: 100%;
}
.div-h3tit-porce-result {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.h3-tit-card-result {
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0.2px;
	height: 32px;
	display: flex;
	align-items: center;
}
.p-recieve-porce-result {
	height: 26px;
	border-radius: 6px;
	background-color: #eb5757;
	padding: 4px 8px;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.26px;
	color: #ffffff;
}
.div-imgestr-pcalif-result {
	display: flex;
	gap: 12px;
	margin-top: 7px;
}
.img-estrellas-result {
	width: 82px;
	height: 20px;
}
.p-calificacion-result {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
}
.divgeneral-availa-precio {
	margin-top: 17px;
	display: grid;
	grid-template-columns: repeat(2, auto);
}
.div-p-availa-result {
	max-width: 380px;
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.p-live-result {
	font-weight: 500;
	font-size: 13px;
	line-height: 140%;
	letter-spacing: 0.26px;
	color: #4f4f4f;
	height: 18px;
}
.p-reats-result {
	margin-top: 4px;
	font-weight: 400;
	font-size: 13px;
	line-height: 140%;
	letter-spacing: 0.26px;
	color: #4f4f4f;
}
.a-availa-result {
	width: 137px;
	height: 40px;
	border-radius: 6px;
	padding: 10px 18px;
	margin-top: 18px;
	background-color: #2f80ed;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	color: #ffffff;
	transition: background-color 0.2s ease;
}
.a-availa-result:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.div-p-precio-result {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: end;
}
.p-percoff-result {
	height: 26px;
	border-radius: 6px;
	background-color: #219653;
	padding: 4px 8px;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.26px;
	color: #ffffff;
}
.p-roomdays-result {
	margin-top: 6px;
	font-weight: 300;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #333333;
	height: 17px;
	display: flex;
	align-items: center;
}
.div-precio-result {
	margin-top: 6px;
	display: flex;
	align-items: center;
	height: 24px;
	gap: 8px;
}
.p-prectach-result {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.14px;
	text-decoration: line-through;
	color: #eb5757;
}
.p-precfinal-result {
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0.2px;
	color: #333333;
	height: 100%;
	display: flex;
	align-items: center;
}
.p-taxes-result {
	margin-top: 6px;
	font-weight: 300;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.28px;
	color: #333333;
	height: 17px;
	display: flex;
	align-items: center;
}
.p-recieve-porce-result-scepter {
	height: 26px;
	border-radius: 6px;
	background-color: #f2994a;
	padding: 4px 8px;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.26px;
	color: #ffffff;
}
.div-loadmore-result {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 10px;
}
.p-loadmore-result {
	width: 156px;
	height: 40px;
	border-radius: 6px;
	padding: 10px 18px;
	background-color: #2f80ed1a;
	color: #2f80ed;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	display: inline-flex;
}
.detalles-fondogris {
	background-color: #f4f4f4;
}
.header-detalles {
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
}
.header-detalles .header-icono-noti path {
	fill: #bdbdbd;
}

.divgrid-detalles {
	padding-top: 24px;
	background: #f4f4f400;
	background: linear-gradient(
		180deg,
		rgba(244, 244, 244, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	width: 100%;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.divgrid-img-detalles:first-child {
	margin-right: 20px;
}
.divgrid-imgs-detalles {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.diventanas-detalles {
	width: 100%;
	height: 48px;
	background-color: #ffffff;
	box-shadow: 0px 1px 0px 0px #e0e0e0;
	display: flex;
	align-items: flex-end;
	gap: 14px;
}
.diventana-detalles {
	cursor: pointer;
}
.diventana-detalles:first-child {
	width: 94px;
}
.diventana-detalles:nth-child(2) {
	width: 77px;
}
.diventana-detalles:nth-child(3) {
	width: 132px;
}
.diventana-texto-detalles {
	height: 39px;
	padding: 10px 14px;
	margin-bottom: 3px;
}
.pventana-texto-detalles {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.32px;
	color: #333333;
	height: 19px;
	display: flex;
	align-items: center;
}
.diventana-detalles hr {
	display: none;
}
.diventana-detalles:hover hr {
	display: block;
	border: none;
	border-top: 3px solid #2f80ed;
	width: 100%;
}
.diventana-detalles:hover .diventana-texto-detalles {
	margin-bottom: 0;
}
.svg-input-detalles {
	min-width: 20px;
	min-height: 20px;
}
.svg-input-detalles path {
	stroke: #2f80ed;
}
.divmain-detalles {
	padding-block: 40px 80px;
}
.divinfo-detalles {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}
.divinfo-izq-detalles {
	min-width: 810px;
}
.h2-divinfoizq {
	font-weight: 600;
	font-size: 32px;
	line-height: 100%;
	letter-spacing: 0.32px;
	display: flex;
	align-items: center;
	color: #1a1a1a;
}
.div-imgestr-pcalif-detalles {
	display: flex;
	gap: 12px;
	margin-top: 12px;
}
.div-lorem-detalles {
	margin-top: 12px;
	height: 21px;
	display: flex;
	gap: 6px;
}
.p-lorem-detalles {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #333333;
}
.div-infohotel-detalles {
	margin-top: 31px;
	padding: 24px 40px 40px 30px;
	background-color: #ffffff;
	border-radius: 5px;
	height: 508px;
}
.h4-infohotel-detalles {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.18px;
	height: 21px;
	display: flex;
	align-items: center;
	color: #181818;
}
.p-infohotel-detalles {
	margin-top: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.32px;
	color: #4f4f4f;
}
.hr-infohotel-detalles {
	border: 1px solid #e0e0e0;
	margin-inline: -30px -40px;
	margin-block: 44px 26px;
}
.div-facilities-detalles {
	margin-top: 24px;
	display: grid;
	grid-template-columns: 144px 153px;
	column-gap: 114px;
	row-gap: 12px;
}
.div-facility-detalles {
	display: flex;
	gap: 12px;
	height: 22px;
}
.p-facility-detalles {
	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.3px;
	color: #4f4f4f;
	height: 21px;
	display: flex;
	align-items: center;
	white-space: nowrap;
}
.h4-explore-detalles {
	margin-top: 35px;
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.18px;
	color: #181818;
	height: 21px;
	display: flex;
	align-items: center;
}
.img-explore-detalles {
	display: flex;
	width: 100%;
	height: 100%;
}
.div-explore-area-detalles {
	margin-top: 22px;
}
.div-explore-detalles {
	display: flex;
	gap: 8px;
}
.div-explore-detalles:not(:first-child) {
	margin-top: 12px;
}
.div-p-explore-detalles {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.p-explore-detalles {
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #4f4f4f;
	height: 20px;
	display: flex;
	align-items: center;
}
.h3-available-detalles {
	margin-top: 40px;
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0px;
	color: #181818;
	height: 32px;
	display: flex;
	align-items: center;
}
.div-available-detalles {
	margin-top: 24px;
	background-color: #ffffff;
	height: 64px;
	border-radius: 6px;
	padding: 10px 12px;
	display: flex;
	gap: 12px;
}
.a-div-available-detalles {
	text-align: center;
	width: 220px;
	border-radius: 6px;
	padding: 12px 18px;
	background-color: #2f80ed;
	color: #ffffff;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	transition: background-color 0.2s ease;
}
.a-div-available-detalles:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
.div-p-available-detalles {
	width: 320px;
	display: flex;
	gap: 10px;
	border-radius: 4px;
	padding: 11px 12px;
	background-color: #f2f2f2;
	border: none;
	align-items: center;
	color: #4f4f4f;
}
.p-available-detalles {
	height: 20px;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.28px;
	color: #333333;
}
.div-grid-available-detalles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 16px;
	padding-bottom: 50px;
}
.div-grid-available-detalles > div:first-child {
	margin-left: 5px;
}
.div-grid-available-detalles > div:nth-child(2) {
	margin-left: 15px;
}
.div-grid-available-detalles > div:nth-child(3) {
	margin-left: 20px;
}
.card-grid-available-detalles {
	height: 432px;
	width: 400px;
	background-color: #ffffff;
	border-radius: 6px;
}
.card-grid-available-detalles-azul {
	width: 400px;
	height: 340px;
	background: linear-gradient(180deg, #4796ff 0%, #2366bf 100%);
	border-radius: 6px;
	position: relative;
}
.div-card-info-detalles-azul {
	margin-top: 72px;
	margin-left: 28px;
}
.p-card-info-detalles-azul {
	margin-top: 28px;
	width: 195px;
	height: 126px;
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	color: #ffffff;
}
.p-card-info-detalles-azul span {
	color: #ffd723;
}
.div-card-img-detalles-azul {
	display: flex;
	position: absolute;
	bottom: 14px;
	right: 69px;
}
.div-card-img-detalles {
	display: flex;
}
.div-card-info-detalles {
	padding: 20px 20px 24px 20px;
}
.h4-card-info-detalles-azul {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.36px;
	color: #ffffff;
	height: 21px;
	display: flex;
	align-items: center;
}
.h4-card-info-detalles {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0.18px;
	color: #1a1a1a;
	height: 22px;
	display: flex;
	align-items: center;
}
.div-icono-card-info-detalles-azul {
	display: flex;
	align-items: center;
	gap: 4px;
}
.div-icons-card-info-detalles {
	margin-top: 18px;
	display: flex;
	flex-direction: column;
}
.div-icon-card-info-detalles {
	display: flex;
	gap: 10px;
	align-items: center;
}
.div-icon-card-info-detalles:not(:first-child) {
	margin-top: 10px;
}
.a-reserve-card-detalles {
	margin-top: 24px;
	width: 360px;
	height: 44px;
	border-radius: 6px;
	padding: 12px 18px;
	background-color: #2f80ed;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.3px;
	transition: background-color 0.2s ease;
}
.a-reserve-card-detalles:hover {
	background-color: rgba(47, 128, 237, 0.8);
	transition: background-color 0.2s ease;
}
