/* Fuentes */
@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Semibold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("./fonts/SF-Pro-Display-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Estilos */
html {
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
	font-family: "SF Pro Display", sans-serif;
	scrollbar-width: none;
}
body {
	width: 1440px;
	background-color: #ffffff;
}
.padding-general {
	padding-inline: 100px;
}
.header {
	height: 68px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.div-logo {
	height: 24px;
	display: flex;
}
.logo {
	display: flex;
	align-items: center;
	gap: 4px;
}
.h1-logo {
	display: flex;
	align-items: center;
	height: 21px;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 2%;
}
