* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}
.container {
  width: 1440px;
  background-color: #ffffff;
}
